[MASTER]
ignore=venv,env,.git,__pycache__

[MESSAGES CONTROL]
disable=
    cyclic-import,
    duplicate-code,
    import-outside-toplevel,
    broad-exception-caught,
    broad-exception-raised,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-return-statements,
    too-few-public-methods,
    no-name-in-module,
    redefined-outer-name,
    too-many-nested-blocks,
    too-many-arguments,
    too-many-lines,
    too-many-positional-arguments,